.icon {
  background: white;
  height: 2.5rem;
  width: 2.5rem;

  &--list {
    @include mask('../../assets/icons/i-list.svg');
    //mask-size: contain;
  }

  &--open {
    @include mask('../../assets/icons/i-open.svg');
    //mask-size: contain;
  }

  &--failed {
    @include mask('../../assets/icons/i-failed.svg');
    //mask-size: contain;
  }

  &--close {
    @include mask('../../assets/icons/i-close.svg');
    //mask-size: contain;
  }
}