// Mixins

// Mask
// Transform
@mixin mask($icon) {
  mask: url($icon) no-repeat 50% 50%;
  -moz-mask: url($icon) no-repeat 50% 50%;
  -ms-mask: url($icon) no-repeat 50% 50%;
  -webkit-mask: url($icon) no-repeat 50% 50%;
}

// Transitions
@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

// Position
@mixin position ($position: fixed, $height: auto, $width: auto, $left: inherit, $top: inherit, $right: inherit, $bottom: inherit) {
  position: $position;
  bottom: $bottom;
  height: $height;
  left: $left;
  top: $top;
  right: $right;
  width: $width;
}

// Hover
@mixin hover-focus {

  &:hover,
  &:focus {
    @content;
  }
}