.modal {
  //display: none !important;
  //border: 2px solid blue;
  position: fixed;
  margin-bottom: 2rem !important;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  border-radius: 0;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  flex-direction: column;
  z-index: 10;

  &__container {
    align-items: center;
    //border: 2px solid blue;
    display: flex;
    justify-content: center;
    width: 100%;
    //max-width: 60vw;
  }

  &__figure {
    max-width: 30vw;

    //width: 35%;

    .figure {
      // border: 10px solid #ec657c;
      // border-radius: 1rem;

      img {
        border: 10px solid #ec657c;
        border-radius: 1.5rem;
        width: 100%;
      }
    }
  }

  &__content {
    //border: 2px solid blue;
    padding: 5rem;
    //border: 2px solid greenyellow;
    text-align: left;
    //width: 60%;
  }

  &__item {
    margin-bottom: 1rem;

    p {
      //border: 3px solid blue;
      font-size: 4rem;
    }
  }

  .time {
    margin: 6rem 0 2rem 0;
  }

  .alert__icon {
    //border: 2px solid orange;
    position: absolute;
    right: 2rem;
    top: 2rem;
  }

  h2,
  h2 span {
    font-size: 6rem;
    line-height: 1;
  }

  .tag {
    //border: 2px solid red;
    font-family: $font-family-bold;
    font-size: 0.75rem;
    letter-spacing: 2px;
    // border: 2px solid red;
    text-transform: uppercase;
    display: block;
    opacity: 0.7;
  }
}