.nav {
  display: flex;

  //border: 2px solid orange;
  margin-left: 2rem;

  &__item {
    //border: 2px solid green;
    margin-right: 0rem;
    text-decoration: none;

    &.active {
      font-family: $font-family-bold;
      color: #ee9e2c;
    }

    &--active {
      position: relative;

      .alert__btn {
        border: 2px solid $danger;

        .count {
          background: $danger;
          position: absolute;
          top: -0.5rem;
          right: -0.5rem;
          height: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1.5rem;
          border-radius: 50%;
        }
      }
    }
  }

  .alert__icon {
    background: #113762;

    @include hover-focus {
      //border: 2px solid red;
      background: #1a4f8b;
    }
  }
}